name: Run action for CI

on:
  workflow_dispatch:

jobs:
  run:
    name: Run action for CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run action
        uses: ./
        with:
          apps: |
            - appId: ${{ toJSON(vars.ISSUER_APP_A_ID) }}
              privateKey: ${{ toJSON(secrets.ISSUER_APP_A_PK) }}
              issuer:
                enabled: true
                roles:
                  - role-a
                  - role-b
            - appId: ${{ toJSON(vars.PROVISIONER_APP_A_ID) }}
              privateKey: ${{ toJSON(secrets.PROVISIONER_APP_A_PK) }}
              provisioner:
                enabled: true
            - appId: ${{ toJSON(vars.ISSUER_APP_B_ID) }}
              privateKey: ${{ toJSON(secrets.ISSUER_APP_B_PK) }}
              issuer:
                enabled: true
                roles:
                  - role-b
            - appId: ${{ toJSON(vars.PROVISIONER_APP_B_ID) }}
              privateKey: ${{ toJSON(secrets.PROVISIONER_APP_B_PK) }}
              provisioner:
                enabled: true
            - appId: ${{ toJSON(vars.ISSUER_APP_C_ID) }}
              privateKey: ${{ toJSON(secrets.ISSUER_APP_C_PK) }}
              issuer:
                enabled: true
            - appId: ${{ toJSON(vars.PROVISIONER_APP_C_ID) }}
              privateKey: ${{ toJSON(secrets.PROVISIONER_APP_C_PK) }}
              provisioner:
                enabled: true
